@keyframes scaleDown {
    0% {
      transform: scale(5);
    }
    100% {
      transform: scale(1);
    }
  }
@keyframes hoverButtonScale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
.boards {
    display: flex;
    flex-direction: row;
}
  
.symbolboard {
    display: grid;
    grid-template-columns: auto auto;
    box-shadow: 2px 8px 4px 4px rgba(25,25,25,0.8);
    margin-left: 4px;
}

.numberboard {
    animation: 500ms linear 0s 1 scaleDown;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-right: 9px;
    box-shadow: 2px 8px 4px 4px rgba(25,25,25,0.8);
}
  
.inputnumber {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    background-color: #9999ff;
    border: 1px solid rgb(125,25,25);
    border-radius: 4px;
}
  
.inputsymbol {
    background-color: #222299;
    width: 10rem;
    height: 10rem;
    font-size: 3rem;
    color: rgb(200,200,200);
    text-shadow: 3px 3px 0 black;
    border: 1px solid black;
    border-radius: 4px;
}  

#allclearsymbol {
    width: 100%;
    grid-column: span 2;
}
#minussymbol {
    font-weight: 100;
    font-size: 7rem;
}

.inputnumber:hover {
    color: white;
    text-shadow: 3px 3px 1px #000000;
    animation: 100ms linear forwards hoverButtonScale;
    background-color: #222299;
    cursor: pointer;
    font-size: 3rem;
    border: 2px solid #ffffff;
}

.inputsymbol:hover {
    background-color: #000055;
    color: white;
    text-shadow: 3px 3px 1px #000000;
    animation: 100ms linear forwards hoverButtonScale;
    cursor: pointer;
    font-size: 3.5rem;
    border: 2px solid #ffffff;
}

sup {
    font-size: 1.5rem;
}