body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin: 1rem auto 1rem auto;
}

/* 

.showval {
  background-color: #fff;
  width: 40rem;
  height: 8rem;
  position: relative;
  font-size: 1.5rem;
  border: 2px solid darkgreen;
  border-radius: 0.5rem 0.5rem 0 0;
}

.showvalerr {
  background-color: #fff;
  width: 40rem;
  height: 8rem;
  display: flex;
  font-size: 1.5rem;
  border: 2px solid red;
  border-radius: 0.5rem 0.5rem 0 0;
  align-items: center;
  justify-content: center;
  position: relative;
}

.outputerr {
  text-align: center;
  color: red;
  font-size: 8rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(25,25,25,0.5);
  width: 100%;
  height: 100%;
}

.inputval {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.outputval > h4 {
  position: absolute;
  right: 0.5em;
  bottom: -0.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 */