@keyframes transportFromRight {
  0% {
    transform: translateX(50vw)
    }
  100% {
    transform: translateX(0vw);
}
}

body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin: auto auto 2rem auto;
  color: #000066;
  font-variant: small-caps;
  text-decoration: underline;
  background: -webkit-linear-gradient(right,#000000, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 1px 1px#000000);
}

.block {
  background-image: linear-gradient(to bottom right, #8888ff, #000000);
  background-color: #444444;
  padding: 2rem;
  border-radius: 2rem;
  animation: 800ms linear 0s 1 transportFromRight;
}