@keyframes test {
    0% {
        transform: skew(3);
    }
    100% {
        transform: skew(0);
    }
}

.inputval {
    background-color: #33333355;
    border-radius: 6px;
    color: royalblue;
    padding: 1rem;
    font-weight: bold;
    font-size: 2.5rem;
    overflow-x: auto;
    max-width: 49rem;
    text-indent: -1rem;
    text-shadow: 2px 2px 2px black;
    height: 4rem;
    margin-bottom: 1rem;
}

.inputval > p {
    float: right;
    margin: 0.52rem 1rem auto auto;
}

.outputval {
    background-color: #00ff0033;
    border-radius: 6px;
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
    overflow-x: auto;
    max-width: 49rem;
    text-indent: -1rem;
    text-shadow: 2px 2px 2px black;
    text-align: right;
    margin-bottom: 1rem;
    color: #009900;
}

.outputerr {
    text-align: right;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #ff0000;
    text-indent: -4px;
    border-radius: 6px;
    background-color: #66000055;
    font-family: 'Roboto Condensed', sans-serif;
}

#equalssymbol {
    font-size: 2.5rem;
    background-color: blue;
    border: 3px solid skyblue;
    box-shadow: 3px 3px 10px black;
    width: 10%;
    color: white;
    text-shadow: 2px 2px 3px skyblue;
    float: right;
    margin-top: 0.3rem;
}

#equalssymbol:hover {
    border: 1px solid darkgreen;
    box-shadow: 2px 2px 2px green;
    animation: hoverButtonScale 200ms forwards 1 linear;
    cursor: pointer;
    background-color: skyblue;
    text-shadow: 2px 2px 1px blue;
}